body {
      background-color: #f4f4f4;
  }
      .sidepanel {
          width: 130px;
          position: fixed;
          z-index: 1;
          height: 100vh;
          top: 0;
          left: 0;
          background - color: #ffffff;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          overflow - x: hidden;
          transition: 0.5s;
          padding - top: 50px;
  }

  .sidepanel a {
      padding: 10px 20px;
      text-decoration: none;
      font-size: 15px;
      color: #818181;
      display: block;
    font-family: Roboto,helvetica neue,sans-serif;
  transition: 0.3s;
}
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 36px;
}            
    .admin h4
            {
               color:#ffffff;
      font-family: Roboto,helvetica neue,sans-serif;
  }